BOT_TOKEN=
# for logging in private channel what only admins should see (e.g. logging deleted messages)
LOG_CHANNEL_ID=
# for public things (e.g. user being banned for misbehaving)
DARWIN_CHANNEL_ID=
# words that will be auto-deleted they are split up using "," (e.g. "badword,badword2,badword3")
BANNED_WORDS
