BOT_TOKEN=
# for logging in private channel what only admins should see (e.g. logging deleted messages)
LOG_CHANNEL_ID=
# for public things (e.g. user being banned for misbehaving)
DARWIN_CHANNEL_ID=
